<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{title}}</title>

  <link href="https://fonts.googleapis.com/css2?family=Miriam+Libre:wght@400;700&display=swap" rel="stylesheet">
  <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<div id="layout">
  <h1>Kévin t moche</h1>
  <div class="content">
    {{{body}}}
  </div>
</div>
</body>
</html>
